<!-- views/editAnimal.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica Animale
    </title>
</head>

<body>
    <h1>Modifica i Dettagli di <%= animal.name %>
    </h1>
    <form action="/dashboard/animals/<%= animal._id %>/edit-animals?_method=PUT" method="POST">
        <label for="name">Nome:</label><br>
        <input type="text" id="name" name="name" value="<%= animal.name %>" required><br><br>

        <label for="species">Specie:</label><br>
        <input type="text" id="species" name="species" value="<%= animal.species %>" required><br><br>

        <label for="breed">Razza:</label><br>
        <input type="text" id="breed" name="breed" value="<%= animal.breed %>"><br><br>

        <label for="age">Età:</label><br>
        <input type="number" id="age" name="age" value="<%= animal.age %>" min="0"><br><br>

        <label for="gender">Genere:</label><br>
        <select id="gender" name="gender" required>
            <option value="Male" <%=animal.gender==='Male' ? 'selected' : '' %>>Maschio</option>
            <option value="Female" <%=animal.gender==='Female' ? 'selected' : '' %>>Femmina</option>
        </select><br><br>

        <label for="description">Descrizione:</label><br>
        <textarea id="description" name="description"><%= animal.description %></textarea><br><br>

        <label for="arrivalDate">Data di Arrivo:</label><br>
        <input type="date" id="arrivalDate" name="arrivalDate"
            value="<%= animal.arrivalDate.toISOString().split('T')[0] %>"><br><br>

        <label for="adopted">Adottato:</label><br>
        <input type="checkbox" id="adopted" name="adopted" <%=animal.adopted ? 'checked' : '' %>><br><br>

        <label for="healthStatus">Stato di Salute:</label><br>
        <input type="text" id="healthStatus" name="healthStatus" value="<%= animal.healthStatus %>"><br><br>

        <label for="vaccinations">Vaccinazioni (separate da virgole):</label><br>
        <input type="text" id="vaccinations" name="vaccinations" value="<%= animal.vaccinations.join(', ') %>"><br><br>

        <label for="adoptionDate">Data di Adozione:</label><br>
        <input type="date" id="adoptionDate" name="adoptionDate"
            value="<%= animal.adoptionDate ? animal.adoptionDate.toISOString().split('T')[0] : '' %>"><br><br>

        <label for="photoUrl">URL della Foto:</label><br>
        <input type="url" id="photoUrl" name="photoUrl" value="<%= animal.photoUrl %>"><br><br>

        <label for="notes">Note:</label><br>
        <textarea id="notes" name="notes"><%= animal.notes %></textarea><br><br>

        <button type="submit">Aggiorna Animale</button>
    </form>
    <a href="/animals">Torna alla lista degli animali</a>
</body>

</html>