<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lista degli Animali</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Specie</th>
                <th>Razza</th>
                <th>Età</th>
                <th>Genere</th>
                <th>Stato di Salute</th>
                <th>Dettagli</th>
            </tr>
        </thead>
        <tbody>
            <% animals.forEach(animal=> { %>
                <tr>
                    <td>
                        <%= animal.name %>
                    </td>
                    <td>
                        <%= animal.species %>
                    </td>
                    <td>
                        <%= animal.breed %>
                    </td>
                    <td>
                        <%= animal.age %>
                    </td>
                    <td>
                        <%= animal.gender %>
                    </td>
                    <td>
                        <%= animal.healthStatus %>
                    </td>
                    <td>
                        <a href="/dashboard/animals/<%= animal._id %>">Vedi Dettagli</a>
                        <a href="/dashboard/animals/<%= animal._id %>/edit-animals">Modifica</a>
                        <form action="/dashboard/animals/<%=animal._id%>/delete?_method=DELETE" method="POST">
                            <button type="submit">Elimina l'animale</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <a href="/dashboard/animals/add-animals">Crea un nuovo animale</a>
</body>

</html>